# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db


leaderboard.json